/* navbar start */
.topnav {
 
    height: 100px;
    background: #F9F9F9 0% 0% no-repeat padding-box;
    box-shadow: 0px 3px 4px #00000029;
    opacity: 1;
  
}
.topnav a {
  display: table-caption;
  float: left;
  top:20px;
  text-align: center;
  padding-left: 20px;
  text-decoration: none;
  font-size:24px;
  letter-spacing: 0px;
  color: #000000;
}
.topnav-right {
  float: right;
    position: relative;
    bottom: 25px;
  
  
}
.img-class1{
  margin-top: 10px;
  left: 150px;
  left: 128px;
  width: 86px;
  height: 86px;
  display: inline-block;
}
.igurbanitext{
  display: table-caption;
  margin-top: 19px;
    width: 250px;
    height: 34px;
    text-align: left;
    font-family: 'Crimson Text', serif;
    font-size: 44px;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.apartofyou{
  top: 60px;
  display: inline-block;
  padding-top: 10px;
  left: 10px;
  height: 24px;
  text-align: left;
  font-size: 27px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.img-class2{ 
display: inline-block;
left: 0px;
top: 10px;
width: 53px;
border-radius: 50%;
height: 53px;
opacity: 1;
}
.arrow{ 
top: 70px;
left: 1823px;
width: 20px;
height: 20px;
padding-top: 15px;
background: transparent 0% 0% no-repeat padding-box;
opacity: 1;}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
  
}

/* sidebar start */

.sidenav {
  height: 100%;
  width: 387px;
  position: fixed;
  margin-top: 110px;
  z-index: 1;
  top: 0;
  left: 0;
  background: #EEEBEB 0% 0% no-repeat padding-box;
  overflow-x: hidden;
  
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #0E7693;
}
.main {
  margin-left: 400px;
    
}
.overview{
  top: 130px;
  width: 387px;
  height: 84px;
  background: #0E7693 0% 0% no-repeat padding-box;
  opacity: 1;
}
.overviewicon{
  margin-left: 30px;
  margin-top: 16px;
left: 150px;
width: 28px;
height: 28px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
.overviewtext{
  top: 20px;
  left: 14px;
  width: 109px;
  height: 33px;
  position: sticky;
  margin-left: 35px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
}



 @media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
.userviewicon{
margin-left: 30px;
margin-top: 16px;
left: 150px;
width: 28px;
height: 28px;
background: transparent  0% 0% no-repeat padding-box;
opacity: 1;
}
.personviewtext{ 
  top: 215px;
  width: 64px;
  height: 33px;
  left:120px;
  position: fixed;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.bookviewicon{
  margin-top: 80px;
  position: fixed;
  width: 28px;
  left: 48px;
  height: 28px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.bookviewtext{
  position: fixed;
  top: 281px;
  left:120px;
  width: 69px;
  height: 33px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
}
.contributeicon{
  top:345px;
  position: fixed;
  width: 28px;
  left: 48px;
  height: 28px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.contributetext{
  position: fixed;
  top: 340px;
  left:120px;
  width: 69px;
  height: 33px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
}
.updateicon{
  top:406px;
  position: fixed;
  width: 28px;
  left: 48px;
  height: 28px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.updatetext{
  position: fixed;
  top: 401px;
  left:120px;
  width: 69px;
  height: 33px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
}
.notification{
  top:466px;
  position: fixed;
  width: 28px;
  left: 48px;
  height: 28px;
  background: transparent 0% 0% no-repeat padding-box;
  opacity: 1;
}
.notificationtext{
  position: fixed;
  top: 466px;
  left:120px;
  width: 69px;
  height: 33px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
}
/* sidebar close */

/* main-div-container start */

.flex-container {
  display: flex;
  flex-wrap: nowrap;
 
}

.divclass1 {
  background-color: #f1f1f1;
  width: 308px;
  margin: 30px;
  height:209px;
  margin-top: 50px;
  text-align: center;
  background: #0E7693 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
}
.divclass2 {
  background-color: #f1f1f1;
  width: 308px;
  margin: 30px;
  height:209px;
  margin-top: 50px;
  text-align: center;

  box-shadow: 0px 3px 6px #00000029;
  border-radius: 8px;
  opacity: 1;
}
.totaluser{
  height: 30px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #FFFFFF;
  opacity: 1;
  display: flex;
  margin-top: 35px;
  margin-left: 20px; 
}
.divclasscount{
  top: 290px;
left: 479px;
width: 96px;
height: 76px;
text-align: left;
font-size: 56px;
font-family: 'Open Sans', sans-serif;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
display: flex;
margin-top: 35px;
  margin-left: 20px;
}
.newuser{
  height: 30px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #0E7693;
  opacity: 1;
  display: flex;
  margin-top: 35px;
  margin-left: 20px; 
}
.newusercount{
  top: 290px;
  left: 479px;
  width: 96px;
  height: 76px;
  text-align: left;
  font-size: 56px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #0E7693;
  opacity: 1;
  display: flex;
  margin-top: 35px;
    margin-left: 20px;
}
.newcontribut{
  height: 30px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #0E7693;
  opacity: 1;
  display: flex;
  margin-top: 35px;
  margin-left: 5px;  
}
.divmoncontainer{
  top: 455px;
left: 453px;
width: 88%;
margin-left: 25px;
height: 524px;
display: flex;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #00000029;
border-radius: 8px;
opacity: 1;
}
.week{
  
margin-left: 35px;
margin-top: 35px;
text-align: left;
font-size: 24px;
font-family: 'Open Sans', sans-serif;
letter-spacing: 0px;
color: #FF881E;
opacity: 1;
}
.month{
  margin-left: 200px;
  margin-top: -35px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.year{
  margin-left: 380px;
  margin-top: -35px;
  text-align: left;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.totaluserweek{
  position: absolute;
  top: 520px;
left: 468px;
width: 188px;
height: 30px;
text-align: left;
font-size: 22px;
font-family: 'Open Sans', sans-serif;
letter-spacing: 0px;
color: #0E7693;
opacity: 1;

}
.hr{
  position: absolute;
    top: 550px;
    width: 58%;
    height: -0.10px;
    margin-top: 20px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 1px 3px #00000029;
    margin-left: 35px;
}
@media screen and (max-height: 1440px) {
  .hr{
    width: 65%;

  }
}
.mon{
  margin-top: 245px;
  margin-right: 250px;
  display: flex;
  margin-left: -390px;
  left: 493px;
  width: 51px;
  height: 219px;
  background: #0E7693 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 0.47;
}
.monname{
  margin-right: 250px;
  display: flex;
  padding: 5px;
  margin-left: -390px;
  top: 650px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.mon12{
  
    margin-right: px;
    display: flex;
    margin-top: -290px;
    margin-left: -375px;
    left: 507px;
    width: 23px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.tue{
  display: flex;
  margin-left: -245px;
  margin-top: 60px;
  top: 736px;
  left: 702px;
  width: 51px;
  height: 168px;
  background: #0E7693 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 0.47;
}
.tuename{
  margin-right: 250px;
  display: flex;
  padding: 5px;
  margin-left: -243px;
  top: 650px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.tue8{
  display: flex;
  margin-top: -240px;
  margin-left: -224px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.wed{

    display: flex;
    margin-left: -100px;
    margin-top: -40px;
    top: 696px;
    left: 912px;
    width: 51px;
    height: 208px;
    background: #0E7693 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 0.47;

}
.wedname{
  margin-right: 250px;
    display: flex;
    padding: 5px;
    margin-left: -100px;
    top: 650px;
    left: 507px;
    width: 23px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.wed10{
  display: flex;
  margin-top: -280px;
  margin-left: -90px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
.thu{
  display: flex;
  margin-left: 30px;
  margin-top: -10px;
  top: 696px;
  left: 912px;
  width: 51px;
  height: 219px;
  background: #0E7693 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 0.47;
}
.thuname{
  margin-right: 250px;
  display: flex;
  padding: 5px;
  margin-left: 33px;
  top: 650px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

}
.thu12{
  display: flex;
  margin-top: -290px;
  margin-left: 40px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

}
.fri{
  display: flex;
  margin-left: 170px;
  margin-top: 150px;
  top: 696px;
  left: 912px;
  width: 51px;
  height: 68px;
  background: #0E7693 0% 0% no-repeat padding-box;
  border-radius: 12px;
  opacity: 0.47;
}
.friname{
  margin-right: 250px;
    display: flex;
    padding: 5px;
    margin-left: 180px;
    top: 650px;
    left: 507px;
    width: 23px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;

}
.fri4{
  display: flex;
    margin-top: -138px;
    margin-left: 185px;
    left: 507px;
    width: 23px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.sat{
  display: flex;
  margin-top: 150px;
    margin-left: 280px;
    margin-top: -60px;
     top: 696px; 
    left: 912px;
    width: 51px;
    height: 126px;
    background: #0E7693 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 0.47;
}
.satname{
  display: flex;
  padding: 5px;
  margin-right: 250px;
  margin-left: 287px;
  top: 650px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

}
.sat6{
  display: flex;
    margin-top: -200px;
    margin-left: 300px;
    left: 507px;
    width: 23px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.sun{
  display: flex;
    margin-left: 400px;
    margin-top: -72px;
    top: 696px;
    left: 912px;
    width: 51px;
    height: 200px;
    background: #0E7693 0% 0% no-repeat padding-box;
    border-radius: 12px;
    opacity: 0.47;
}
.sunname{
  display: flex;
    padding: 5px;
    margin-left: 405px;
    top: 650px;
    left: 507px;
    width: 23px;
    height: 27px;
    text-align: left;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
}
.sun11{
  display: flex;
  margin-top: -270px;
  margin-left: 415px;
  left: 507px;
  width: 23px;
  height: 27px;
  text-align: left;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;

}







/* main-div-container close */


 /* navbar close */
